.dashboard {
  width: 353px;
  flex-shrink: 0;
  background-color: var(--secondary-color-3);
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionTitle {
  margin-bottom: 8px;
  margin-top: 20px;
  margin-left: 14px;
  text-align: start;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
}

.innerLabel {
  padding: 0.75rem 0 0.75rem 0.75rem;
  color: #686868;
  font-size: 1rem;
  white-space: nowrap;
  margin-right: 10px;
}
.filtersSection {
  margin-bottom: 32px;
}

.filtersForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputGroup {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-color-2);
  border: none;
  border-radius: 12px;
}

.inputLabel {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.input {
  flex: 1;
  padding: 16px 15px 16px 0px;
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  font-size: 1rem;
  outline: none;
}
.input::placeholder {
  color: var(--primary-text-color);
}

.input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.4);
}

.applyButton {
  width: 122px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);

  color: var(--primary-text-color);
  border-radius: 30px;
  padding: 12px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  align-self: flex-start;
  margin-top: 12px;
  transition: background-color 0.3s;
}

.applyButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.startWorkout {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--secondary-color-2);
}

.workoutStep {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.sectionTitleSecond {
  text-align: start;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 40px;
}
.stepNumber {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  color: var(--secondary-color-3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  flex-shrink: 0;
}
.steps {
  padding-right: 8px;
}
.stepContent {
  text-align: start;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
}

.stepHighlight {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: var(--primary-color-grey);
}

.libraryLink {
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: var(--primary-color-grey);
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  margin-top: 16px;
}

.quoteSection {
  background-color: var(--secondary-color-2);
  border-radius: 12px;
  padding: 20px 15px;
  display: flex; /* Явно задаём flex, хотя flex-direction: row уже подразумевает это */
  flex-direction: row;
  align-items: center;
  gap: 10px; /* Добавляем небольшой отступ между иконкой и текстом */
}

.quoteImage {
  width: 40px;
  height: 40px;
}

.quoteIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote {
  text-align: start;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: var(--primary-color-grey);
  flex: 1;
}
.highlight {
  color: var(--primary-text-color);
  font-weight: 500;
}

@media (max-width: 1200px) {
  .dashboard {
    width: 100%;
  }
}
